[2018-03-21 03:40] samselikoff opened #7 "Improve addon support"
@dfreeman I tried using our new code in ember-cli-addon-docs, but I believe some of the logic doesn't work.

Adding this addon to Addon Docs and stepping through the debuggger, I saw [this line](https://github.com/embermap/ember-cli-tailwind/blob/master/index.js#L18) was true (and `includer.treePaths` was undefined). So `index.js` thought Addon Docs was an app. (Of course, the dummy app _is_ an ap

[2018-03-21 15:25] dfreeman commented on #7
You're right something's not working, but I think we're on the same page about how folks should be able to consume the addon.

You should see `included` get invoked twice, once for the dummy app and once for addon-docs itself. Corresponding to that, `ember g ember-cli-tailwind` in an addon should populate modules in `addon/styles`, and `ember g --dummy ember-cli-tailwind` should populate them in `

[2018-03-21 16:34] samselikoff commented on #7
Interesting - and thank you so (again) much for digging into this!

I could be convinced. Few things off the top of my mind:

- Are we being a good "citizen" by adding a new top-level `tailwind` folder? I did this with Mirage, I think it's okay (especially because Mirage is used both for app dev and testing), but it does feel like we already have a good place for styling-related stuff in `{app,add

[2018-03-21 16:55] dfreeman commented on #7
My take is that adding `app/tailwind` would actually be a lot simpler than what Mirage is doing, since we'd just rely on the normal build behavior in all environments. Devs have always been free to put whatever files/directories they want in `app`/`addon`, and even ember-data is technically just an addon that encourages you to add a bunch of new top-level directories.

The thing that makes `{app,a

[2018-03-21 17:35] dfreeman commented on #7
Ah, sorry—should've been clearer 🙂

I can open up a PR tonight or tomorrow with that change

[2018-03-22 14:15] samselikoff commented on #7
@dfreeman trying out #8 locally in addon-docs, a few questions:

1. `_buildTailwind()` is getting called twice, and the second time `this.tailwindInputPath` is undefined, so [this line](https://github.com/embermap/ember-cli-tailwind/blob/master/index.js#L53) blows up. This is because when I installed, and only generated for my `/addon` folder, and not `/tests/dummy` (which I think is a valid use c

[2018-03-22 14:54] samselikoff commented on #7
Love it, think this solves all my problems

[2018-03-24 13:27] samselikoff opened #9 "Add postcss-import, component/.gitkeep directory"
Tailwind components are a great in-between if you'd like to reuse a set of functional css classes but don't want to create an Ember component.

In the `/tailwind/config/modules.css` file, you can define new components [here](https://github.com/embermap/ember-cli-tailwind/blob/master/blueprints/ember-cli-tailwind/files/__root__/tailwind/config/modules.css#L16-L30). Note that the comments say that i

[2018-03-28 14:57] cafreeman opened #10 "No default styles in fresh Ember app"
After creating a fresh Ember 3.0 app and installing `ember-cli-tailwind`, it appears that the base tailwind styles are not being loaded.

In my terminal, I see the following warning:
[code]

Additionally, in the console I see this error:
[code]

I'm testing this by using some basic markup in `application.hbs` and seeing if any of the styles show up:

[code]

The example app can be found [here](htt

[2018-03-30 15:36] knownasilya commented on #10
Did you run the blueprint (if not using `ember install`)? Seems like that should add some default styles.

[2018-03-30 15:37] knownasilya commented on #10
Ah, nvm that isn't in the styles folder.

[2018-03-31 14:56] cafreeman commented on #9
I'm working on this right now!

[2018-04-01 16:52] samselikoff commented on #9
https://github.com/embermap/ember-cli-tailwind/issues/9 closes

[2018-04-01 16:52] #9 closed

[2018-04-01 16:53] samselikoff opened #14 "Auto-import /components"
Right now, `tailwind/components` need to be manually imported. Let's figure out a way to automatically import them.

[2018-04-05 20:26] thomasbrus commented on #10
As pointed out in https://github.com/embermap/ember-cli-tailwind/pull/11#issue-178382846, this is solved by setting the `buildTarget` to `app` in `ember-cli-build.js` like so:

[code]

Would be nice if this worked out of the box of course:)

[2018-04-07 18:40] samselikoff commented on #14
16ddd6bd9c06a8819a4a63c8a64a6a27b91188ee closes

[2018-04-07 18:40] #14 closed

[2018-04-07 18:40] #7 closed

[2018-04-07 19:20] samselikoff opened #16 "Set buildTarget automatically"
The way this addon works is by reading in a `/tailwind` directory and adding a built `tailwind.css` file to the build. There are actually three situations in which this can occur:

1. *An app*, via the `/app/tailwind/` directory. The `tailwind.css` file is added to the app's `app.css` file.
2. *An addon*, via the `/addon/tailwind/` directory. The `tailwind.css` file is added to the host app's `ven

[2018-04-08 15:13] cafreeman commented on #16
@samselikoff Yea, this seems like a pretty reasonable approach, especially since we're already making other inferences based on the presence/absence of `tailwind.js`.

Is there a Broccoli-ish way of doing this, or would you just use `fs.existsSync`?

[2018-04-18 20:48] knownasilya commented on #10
@samselikoff that's this issue :trollface:

[2018-04-18 21:19] samselikoff commented on #10
lol! I meant https://github.com/embermap/ember-cli-tailwind/issues/16

[2018-04-19 17:34] samselikoff opened #17 "Add option to exclude /tailwind route + associated resources"
EC-Tailwind ships with some stuff to build an autogenerated `/tailwind` route, to use during development.

We should add a `shouldIncludeStyleguide` option that, when false, removes this stuff, and default it to `false` in prod and `true` otherwise.

- [ ] don't app.import('etw.css')
- [ ] don't ship the components/controllers/etc. code used for the styleguide

[2018-04-19 21:01] jrowlingson opened #19 "Add basic usage documentation"
There is some helpful usage documentation noted in the release notes. We've also added a new build option with https://github.com/embermap/ember-cli-tailwind/issues/17. This might be a good point to start putting together some doc.

[2018-04-19 21:46] jakemauer opened #20 "Source Map Support"
Hey, first off thank you for taking time to wrap Tailwind for Ember, it's saving us a lot of time and headache.

We have a few components that are using Tailwind's `@apply` method. Since these are compiled after our regular SASS files it looks like source mapping isn't really a thing:

![image](https://user-images.githubusercontent.com/361568/39020061-6922f00c-43e0-11e8-9db6-fdd90c9b498c.png)

Is

[2018-04-19 21:54] samselikoff commented on #20
You're welcome! Good question - I have not dug into this at all.

[This](https://github.com/embermap/ember-cli-tailwind/blob/16ddd6bd9c06a8819a4a63c8a64a6a27b91188ee/lib/build-tailwind-plugin.js#L23) is where we call `postcss` so if I were going to dig into this I might start there.

[2018-05-03 15:37] jpadilla opened #23 "Update tailwind to v0.5.2"
Noticed this addon is still using tailwind v0.4 and latest is currently v0.5.2. There's quite a few changes in that v0.5 release, but if there's interest I can help with bringing that up to date.

[2018-05-06 00:07] #23 closed

[2018-05-08 20:59] jrowlingson opened #25 "0.5.x generator introduces build error"
It appears that changes related to https://github.com/embermap/ember-cli-tailwind/pull/24 may have introduced a build error.

This can be reproduced with the following steps:

* generate a new app via `ember new`
* install the latest changes from master via `ember i https://github.com/embermap/ember-cli-tailwind#master`
* run the addon's blueprint via `ember g ember-cli-tailwind`
* run the develop

[2018-05-08 21:35] jpadilla commented on #25
@jrowlingson ahh good catch! It seems like I fixed this on the dummy app manually.

https://github.com/embermap/ember-cli-tailwind/pull/24/files#diff-f29fa2de49d2b2a36446ffe047bbc419

Will open a PR with fix now.

[2018-05-08 21:41] jpadilla commented on #25
Just opened #26 with the fix. Feel free to try installing from it and check if it fixes the issue for you.

[2018-05-09 14:34] #25 closed

[2018-05-09 14:35] samselikoff commented on #16
Probs just `fs.existsSync` 👍

[2018-05-18 23:29] qpowell opened #28 "Tailwind styles are available in the app consuming the addon, but not the addon's dummy app"
## Background

The issue title may not be the most helpful (sorry) so here's a brief example of what I'm working on and looking to accomplish.

I have an Ember addon that serves as a component library. In the component library, we use `ember-cli-addon-docs` to document component APIs and behavior. Lastly, we have an Ember app that use the components provided by the component library.

## The Issue

[2018-05-21 03:26] samselikoff commented on #28
Seems like a bug.. you have `buildTarget` set to `addon` in Example Addon?

[2018-05-21 03:30] qpowell commented on #28
Yeah, here's the contents of Example Addon's `index.js`

[code]

And the `ember-cli-build.js` for the dummy app looks like this:

[code]

[2018-05-21 03:35] samselikoff commented on #28
I don't think you should have `buildTarget: 'dummy'` set, because that would mean the `/tailwind` dir should apply to your dummy app directly... I think you want it to apply to your addon, then have your dummy app import/consume those styles in the exactly same way an External app would. Does that make sense?

[2018-05-21 03:50] qpowell commented on #28
Yeah, that makes sense. I think I misunderstood the "Addons, when styling things under /tests/dummy/app, your addon's dummy app" section in the README.

To clarify, what's a valid use case where you'd set `buildTarget: 'dummy'` in the dummy app's `ember-cli-build.js`?

[2018-05-21 10:28] samselikoff commented on #28
That's if you're installing Tailwind for the purpose of styling your dummy app... so it's as if your dummy app was its own Ember app and you ran `ember install ember-cli-tailwind` there. The `/tailwind` directory would be under `/tests/dummy/app/tailwind`.

 I know it's confusing, we want to set `buildTarget` automatically in the future.

[2018-05-23 13:43] #19 closed

[2018-05-23 13:43] samselikoff commented on #19
I added a basic README.

[2018-05-23 19:35] jrowlingson opened #29 "Extract the style guide into an addon"
This change would allow folks to provide a customized style guide without the need to maintain a fork.

[2018-05-23 19:37] samselikoff commented on #29
Any chance you could share a screenshot of your styleguide? Curious if they're very specific changes or more like the kinds of things that should be merged in with the main one.

I think even if we don't extract the styleguide into an addon (not sold on that right this minute) we should make it easier to configure.

[2018-05-23 20:03] jrowlingson commented on #29
Sure - at the moment it is simply a re-skin so there is nothing significant to share yet unfortunately. What we would like to do, however, is take it a bit more in the direction of the Tachyons [style guide](http://tachyons.io/docs/) with routes for each section. We would also like to experiment with providing some additional components to visualize the values (e.g. a [color stack component](https

[2018-05-23 21:10] samselikoff commented on #29
I love the color stack component idea. I agree branding is going to be desirable...

I think we should provide some container components/modules that have all the data needed to build a custom styleguide. I still like the lib having the default styleguide available out of the box, I think keeping it in the addon would make it easier to develop. We should make it opt-outable for folks who want to c

[2018-05-23 22:37] scottmessinger commented on #14
Thanks for this add on! When I try to import from `tailwind/components`, nothing is loaded -- that part of the compiled stylesheet has nothing in it. Any idea what's going on or why?

[2018-05-23 22:37] scottmessinger commented on #14
I can look to reproduce, but I figured I'd just ask in case there's a simple solution I'm not thinking of.

[2018-05-23 22:52] scottmessinger commented on #14
Looks like I narrowed down the problem -- if `@import "./components/button";` is *before* any of the `@tailwind ...`, it works. If I move it after, it doesn't work. I'm wondering if this is related to https://github.com/TrySound/postcss-easy-import/issues/24

[2018-05-24 21:18] brasilikum opened #31 "CSS not getting included"
Hey,

first off I want to thank you, this is a great project.

I tried to include it in our project (wich is not open source) and it did not work. Not even the styleguide is styled, so the styles do not seem to get included. I changed nothing in the config, only included the plugin with compile target 'app'.

How can I debug this? I already looked in the assets/vendor.css and there are not tailwin

[2018-05-24 21:35] samselikoff commented on #31
You're welcome! Hope we can get it working for you.

What versions of everything are you on? Have you tried in a brand new app, just to see if things are working there? Sometimes producing a simplified reproduction is the best way to diagnose these types of issues.

[2018-05-24 21:39] brasilikum commented on #31
I looked further into it and most probably the reason is that we use less in our project as well. We want to replace it eventually but for the time being both would have to co-exist.
It would also be ok to have the compliled file be included as an additional file.
Maybe it should not be the concern of this library. It would just be nice for incremental adoption.

I am using the latest version.

[2018-05-27 19:45] GavinJoyce commented on #28
@qpowell I'm trying to do something similar, but I haven't managed to get it working following your instructions above. Perhaps you might update your demo repos with your change that makes it work?

[2018-05-29 01:05] qpowell commented on #28
@GavinJoyce yeah, I can do that tomorrow! For some context on what's going on, what part, in particular, are you having trouble with?

In the dummy app's `tailwind/modules.css`, I just imported the `modules.css` from the addon using its relative path. I'm assuming you have `buildTarget: 'dummy'` set in the dummy app?

[2018-05-29 13:54] GavinJoyce commented on #28
@qpowell Thanks. I'm trying to make tailwind classes available in my addon (so that they can be used in consuming apps) and in my dummy app. I couldn't manage to get the dummy app to work following your instructions.

I'll create a PR for your addon repo above and see if it works there

[2018-05-29 14:02] GavinJoyce commented on #28
It works: https://github.com/qpowell/addon-with-docs/pull/1

I must have done something wrong in my addon, I'll try again

[2018-05-30 18:04] samselikoff commented on #14
@scottmessinger sorry about the delayed response!

You shouldn't have to `@import "./components/button"`... [this line](https://github.com/embermap/ember-cli-tailwind/blob/091c6e69ca094d8fbeeedd091b045552ce56733d/blueprints/ember-cli-tailwind/files/__root__/tailwind/modules.css#L38) should auto import the entire directory. I assume that's not working?

[2018-05-30 18:11] samselikoff commented on #31
@brasilikum the location should be `app/styles/tailwind.css`, any chance you could spot that in your build?

[2018-05-30 19:41] scottmessinger commented on #14
Yup! That's not working. I'll work on a reproduction.

[2018-06-01 03:47] smackesey opened #32 "Build error and custom components not included"
I get the following build error even in a brand new Ember CLI app:

Could not load tailwindcss/plugins/container (imported by /Users/smackesey/stm/code/apps/ember/stmpd/tmp/rollup-cache_path-v3by5pPQ.tmp/build/config/tailwind.js): ENOENT: no such file or directory, open 'tailwindcss/plugins/container'

Also, my custom components and utilities are not available, and don't seem to be showing up in t

[2018-06-01 12:52] jrowlingson opened #33 "Styleguide customization"
See https://github.com/embermap/ember-cli-tailwind/issues/29#issuecomment-391497533

[2018-06-01 12:53] jrowlingson commented on #29
This sounds like an appealing approach. I also agree that keeping it in the addon makes it a bit easier to work with. Closing in favor of https://github.com/embermap/ember-cli-tailwind/issues/33

[2018-06-01 12:53] #29 closed

[2018-06-01 14:32] brasilikum commented on #31
@samselikoff The folder is there, but the compiled output is only included in the vendor.css, right?

It seems the styles are getting included the right way now (reinstalled and reconfigured).

However the styleguide is still not correctly styled. It seems to be an issue where in the styleguide everything gets prefixed with etw- in the stylesheet, but for example background color classes in the st

[2018-06-01 14:38] brasilikum commented on #31
pretty sure it is lines like this:

https://github.com/embermap/ember-cli-tailwind/blob/2e0be592e3c63b1931ff5f27df7919d608acfd08/app/templates/components/etw/module-style-example.hbs#L22

[2018-06-03 15:30] samselikoff commented on #31
The etw classes come from a separate static build of tailwind (configured with that prefix) and those are used to style the styleuide. They shouldn’t be affected by userland styles.

[2018-06-06 10:27] GavinJoyce commented on #28
It turns out I was missing `this._super(...arguments);` in the `included` hook in `index.js`. Everything is working well now

[2018-06-08 21:12] samselikoff commented on #32
@dfreeman I've tracked this down to some of our previous work on turning Tailwind's CJS modules into ES6 modules.

This line in the generated config imports the `container` plugin:

https://github.com/embermap/ember-cli-tailwind/blob/master/blueprints/ember-cli-tailwind/files/__root__/tailwind/config/tailwind.js#L1

but that's actually coming from the `tailwindcss` node module. So when Rollup goes

[2018-06-08 21:32] dfreeman commented on #32
We could probably use [`rollup-plugin-node-resolve`](https://github.com/rollup/rollup-plugin-node-resolve) (and maybe [`rollup-plugin-commonjs`](https://github.com/rollup/rollup-plugin-commonjs), depending on how Tailwind is distributed) to get that included properly...

[2018-06-08 21:47] samselikoff commented on #28
@GavinJoyce glad you got it working!

@qpowell are you still having this issue?

[2018-06-08 21:51] qpowell commented on #28
@samselikoff I'm good, we can close this. Glad it stayed open long enough to help someone else out :)

[2018-06-08 21:58] #28 closed

[2018-06-08 22:08] samselikoff commented on #32
Gotcha. I'll give it a shot!

[2018-06-09 02:02] samselikoff commented on #32
@smackesey Could you try 0.5.1 and see if it fixes?

[2018-06-09 02:02] samselikoff commented on #32
@dfreeman that seemed to work - thank you very much for the tip!

[2018-06-09 18:11] ChrizzDF commented on #31
Hey guys,

I have the same problem @brasilikum describes. I already updated to 0.5.1 but the problem remains. I wanted to change the separater from `:` to `_` because if I want to use classNameBindings e.g. `active:hover:bg-blue` it's creating problems.
I did this change in
[code]
I would expect `./app/styles/tailwind.css` to be automatically recompiled according to the new settings I made - no ma

[2018-06-10 15:27] dfreeman commented on #32
👍 Honestly it was a bit of a shot in the dark—glad it worked!

[2018-06-11 00:55] samselikoff commented on #14
@scottmessinger try 0.5.1, it might fix your issue

[2018-06-11 23:51] brasilikum commented on #31
Thanks @samselikoff for following up on this. No, unfortunately it still does not seem to work.
When I run ember server, the plugin does not show up in the logs. If I change the js config of tailwind, it does show up as:
[code]
The problem is still that is does not show up under dist/ and does not get included, not even on the /tailwind page.

Anything else I can do to help with debugging?

[2018-06-12 02:49] samselikoff commented on #31
Since there are so many moving parts a minimal reproduction on github would enable me to clone it locally and debug it there. Would you be able to do that?

[2018-06-12 02:50] samselikoff commented on #32
This should be fixed so I'm closing for now - happy to reopen if folks are still having trouble!

[2018-06-12 02:50] #32 closed

[2018-06-12 19:32] samselikoff commented on #31
@brasilikum I may have found the problem... can you paste in your `tailwind/modules.css` file? (It should have been generated when you installed the addon).

[2018-06-12 20:39] brasilikum commented on #31
/**
* This injects Tailwind's base styles, which is a combination of
* Normalize.css and some additional base styles.
*
* You can see the styles here:
* https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
*
* If using `postcss-import`, use this import instead:
*
* @import "tailwindcss/preflight";
*/
@tailwind preflight;

/**
* This injects any component classes registered by p

[2018-06-12 20:42] samselikoff commented on #31
@brasilikum Yep, that's what I thought. When we upgraded Tailwind we botched the generated modules.css file – it mixes `@tailwind` directives with PostCSS `@import` statements.

Try copying + pasting this one:

[code]

[2018-06-13 00:32] samselikoff commented on #31
Strange. If you publish a simplified example I should be able to figure it
out.
On Tue, Jun 12, 2018 at 5:23 PM Georg Hartmann <notifications@github.com>
wrote:

[2018-06-21 18:30] ezpuzz opened #37 "ember build -prod fails with broccoli-persistent-filter:CleanCSSFilter error"
[code]

app/styles/app.css
[code]

Reproduction Steps:
[code]

Workaround:
Disable minifyCSS in `ember-cli-build.js`

Desired Behavior:
CSS is run through Clean-CSS after PostCSS when building for production.

[2018-06-21 18:35] ezpuzz commented on #37
https://github.com/ember-cli/ember-cli-preprocessor-registry/commit/5e4dea301eabbb1dca32bd2257426568412f90cf

[2018-06-21 19:34] samselikoff commented on #37
Thanks for opening this!

Does your linked commit mean the bug is upstream?

[2018-06-24 23:33] ezpuzz commented on #37
It looks like upstream Clean-CSS will not be part of ember-cli by default or at least be a separate module.  I'm thinking that ember-cli-tailwind is not registered properly as a pre-processor to run before clean-css at this point.

[2018-06-25 01:13] yohanmishkin commented on #31
[This](https://github.com/embermap/ember-cli-tailwind/issues/31#issuecomment-396726565) fixed things for me. Thanks, @samselikoff !

[2018-06-27 16:02] jrowlingson opened #38 "Update tailwindcss to 0.6.x"
Related https://github.com/embermap/ember-cli-tailwind/issues/23

[2018-07-03 20:33] jpadilla commented on #38
PR incoming

[2018-07-03 20:42] jpadilla commented on #38
Addressed this via https://github.com/embermap/ember-cli-tailwind/pull/40

[2018-07-05 20:35] transitorytammy opened #41 "Ability to remove preflight & default Normalize css configurations"
It would be great if we could configure our ember-cli-tailwind setup to not include preflight by default and a way to exclude the normalize css styles because some of the default styles in etw.css are conflicting with my current styles.   Right now to deal with this, I am making these changes in a forked repo and including that in my app instead.

[2018-07-05 20:46] samselikoff commented on #41
Yep, I need to change it so the styleguide is not built with a custom build of tailwind... it causes too many issues.

[2018-07-15 11:41] Alonski commented on #41
I also need this 😄

[2018-07-16 01:46] michaelfich commented on #37
I ran into the same issue this evening after adding _ember-cli-tailwind_ to my Ember 3.2.0 application and trying to run `ember deploy production` through ember-cli-deploy.

[code]

[2018-07-20 21:14] deanmraz opened #44 "can LESS work?"
# Issue
- Including `@import 'tailwind.css';` in app.less file does not work

# Goal
- being able to develop component files with less `./components/*.less`

# Other Approach
- This setup works with Edward's approach [outlined in this video](https://www.youtube.com/watch?v=h-0585O25HI).
- [Example tailwind / less](https://github.com/deanmraz/tailwind-less/pull/2/files)

Hopefully, I'm doing it wro

[2018-07-23 14:33] knownasilya commented on #37
Encountered this as well, brand new app.

[2018-07-23 14:41] michaelfich commented on #37
I disabled minifyCSS as well though I'd really like to not have to 😄

[2018-07-23 15:38] knownasilya opened #46 "Sandbox"
Was playing around with the `/tailwind` app and this idea came to me:

Basic: Instead of just copying the class when clicking on that class, apply that style to the element in the detail panel, so it can be previewed.

Advanced: Allow creating a snippet of markup with ids applied to each. The user can select the element by id and add/remove classes using the details panel. Then they can preview th

[2018-08-03 19:37] allthesignals opened #47 "How do I add a plugin?"
Tailwind has a [plugins](https://tailwindcss.com/docs/plugins) system, but I'm not sure how to add a plugin. Is it something that goes in ember-cli-build or `environment.js`?

[2018-08-03 19:50] allthesignals commented on #47
1. Open `app/tailwind/config/tailwind.js`

2. Import the Tailwind plugin after installing:
`import glhdTailwindcssTransitions from 'glhd-tailwindcss-transitions'`

3. Add the plugin to the `plugins` array in `tailwind.js`:
[code]

[2018-08-03 19:50] #47 closed

[2018-08-05 06:53] gossi commented on #16
Pssst. With MU this will always be `src/tailwind` (for `app`, `addon` and `engine`). I just tried. `ec-tailwind` becomes completely confused.

[2018-08-06 21:00] samselikoff commented on #47
👍 Glad you figured it out! This should definitely make it into the docs.

[2018-08-06 21:02] samselikoff commented on #47
https://github.com/embermap/ember-cli-tailwind/commit/27a8b6200e0aef316297e43b721b4e7651b23f1b

[2018-08-07 01:04] samselikoff commented on #38
https://github.com/embermap/ember-cli-tailwind/pull/40 closes

[2018-08-07 01:04] #38 closed

[2018-08-07 01:05] samselikoff commented on #16
https://github.com/embermap/ember-cli-tailwind/pull/35 closes this issue and we're tracking MU feature/bugs in other tickets. Hoping to get to it soon!

[2018-08-07 01:05] #16 closed

[2018-08-13 17:51] samselikoff commented on #44
Looks like LESS's default inlining doesn't support certain CSS comments, which may be breaking your `@import` rule.

Try this:

[code]

[2018-08-13 17:55] samselikoff commented on #31
@brasilikum Can you try

[code]

in your `app.less` file and see if that works?

[2018-08-13 18:33] samselikoff commented on #37
I could use some help figuring out how to best fix this bug.

- Is `Broken @import declaration` coming from `clean-css`? If so what does that mean - paths are misconfigured, or `clean-css` doesn't know what to do if it sees `@import`?
- What does minify-css have to do with this?
- I don't believe `ember-cli-tailwind` is a preprocessor so I'm not sure we can register it as one - please correct me i

[2018-08-13 19:20] samselikoff commented on #37
[There's an Ember CLI fix](https://github.com/ember-cli/ember-cli/pull/7823) for a [seemingly related issue](https://github.com/ember-cli/ember-cli/issues/7800), but I tried everything out on Ember CLI 3.4.0-beta.2 (which includes the fix) and now I'm seeing other issues.

I added [a comment](https://github.com/ember-cli/ember-cli/pull/7823#issuecomment-412632900) there, let's see if anyone chimes

[2018-08-14 14:33] brasilikum commented on #31
@samselikoff thank you so much for following up on this!
I cannot currently test this as I am on a backend project, but I will do the next time I get the chance.
I have to switch from directly including the externally compiled file back to your plugin, but that would most certainly help with flashes in the css

[2018-08-15 10:28] jkarsrud commented on #37
I had the same issue when building for production. My workaround was to actually link the `tailwind.css` file in `index.html` manually;

[code]

It might not be the best workaround, but it does the job, and the CSS is still minified.

[2018-08-16 23:48] allthesignals commented on #28
What's the procedure for this use case? I want to make sure I'm doing this correctly... for example, I can use Tailwind styles in my dummy app, but I can't seem to get the tailwind components to work - even arbitrary classes I make don't get picked up.

Thanks!

[2018-08-17 17:26] samselikoff commented on #31
Added install instructions to README https://github.com/embermap/ember-cli-tailwind/commit/aa8c4248d432c45f92df6800fc94c795473340f1

Closing for now but please ping if anyone's still having trouble here!

[2018-08-17 17:26] #31 closed

[2018-08-20 13:18] samselikoff commented on #28
@allthesignals sounds like it could be a separate problem - I'll open another issue for it.

[2018-08-20 13:19] samselikoff opened #50 "Add test for Tailwind custom utilities and components in all 3 build environments"
https://github.com/embermap/ember-cli-tailwind/issues/28#issuecomment-413717287

[2018-08-20 14:11] allthesignals commented on #50
Happy to put a smaller repo together, but [here's](https://github.com/NYCPlanning/ember-mapbox-composer/tree/5ad4c244ebecd150e9f11555f393afffb7c8d196) where I'm seeing this.

[2018-08-21 14:15] deanmraz opened #51 "v0.6.0 Does not include focus variants"
# Issue
- v0.6.0 is missing the focus variants https://tailwindcss.com/docs/functions-and-directives/#variants
- https://github.com/embermap/ember-cli-tailwind/blob/v0.6.0/blueprints/ember-cli-tailwind/files/__root__/tailwind/config/tailwind.js
- No other version to use from NPM.

# Expected
- https://github.com/embermap/ember-cli-tailwind/blob/master/blueprints/ember-cli-tailwind/files/__root__/t

[2018-08-22 05:06] brasilikum commented on #44
I can confirm that this works for me!

[2018-08-22 15:42] samselikoff opened #52 "Add test that nested addon can work"
`addon-A` depends on `ember-cli-tailwind`, and has an `/addon/tailwind` dir.

`addon-B` depends on `addon-A`.

Verify that the tailwind styles end up in `addon-B`.

[2018-08-22 23:14] #44 closed

[2018-08-23 01:07] deanmraz commented on #44
Thanks guys!

[2018-08-28 04:01] knownasilya opened #54 "/tailwind route errors while using template-only-glimmer-components"
[code]

I'm on Ember 3.3.1 and v0.6.0 of this addon.

[2018-08-28 08:40] samselikoff commented on #52
https://github.com/embermap/ember-cli-tailwind/commit/994694a8d1d118ff1365fa768200a7f28ed049e5 closes

[2018-08-28 08:40] #52 closed

[2018-08-28 08:40] samselikoff commented on #50
https://github.com/embermap/ember-cli-tailwind/commit/994694a8d1d118ff1365fa768200a7f28ed049e5 closes

[2018-08-28 08:40] #50 closed

[2018-08-31 05:57] BrianSipple commented on #33
One use case that might be worth considering is being able to keep the default styleguide, but still having some control over its styles.

For example, let's say my app has a dark background with light text defined on the body. Right out of the gate, this leads to parts of the styleguide -- specifically parts within the `module-style-detail` component on the right -- becoming hard to read:

<img w

[2018-08-31 12:49] samselikoff commented on #33
@BrianSipple Totally... been simmering on the styleguide and I think with some container components we can get the best of both worlds.

I agree it should basically be able to recreate it in your app, so folks can integrate their colors, etc. into their own company's styleguide.

Have some ideas here and planning on revisiting after I ship Mirage 1.0.

[2018-08-31 17:17] brandynbennett opened #55 "Generated Styleguide Ignores Prefixes"
In our app we prefix all our tailwind styles with `tw-` using the `prefix` option. However, the awesome styleguide ember-cli-tailwind generates doesn't show our styles because it's missing the prefix.

[2018-09-09 06:19] danDanV1 opened #57 "livereload grabbing the wrong path for tailwind.css"
When on the follow route: `/mobile/my-nested-route` and making edits to JS code used in foresaid route.
[code]

Correct path is `http://localhost:4200/assets/tailwind.css`

app.css
`@import 'tailwind.css';`

[2018-09-10 11:18] pusle opened #58 "Check for @charset "UTF-8""
Would it be a good idea to check for an existing `@charset "UTF-8";` line in _app.css_ or _app.scss_ before inserting `@import 'tailwind.css';` or `@import 'tailwind';`?

From [MDN](https://developer.mozilla.org/en-US/docs/Web/CSS/@charset):

[2018-09-11 11:17] Benjy1979 commented on #37
3.3.0 has the issue, fixed with
minifyCSS: {
		enabled: false
	  }

Is it something that will be addressed in the future?

[2018-10-23 23:28] rtablada opened #61 "Cannot find module when in monorepo/yarn workspace"
When creating a new project I found that there is an error

[code]

This is a new application and the only issue I can find is that the project is in a yarn workspace instead of the root node project so paths are different.

This could be an issue with the build tree including relative paths to the project instead of doing a lookup to find the project/node_module root?

[2018-10-23 23:31] rtablada commented on #61
To recreate this this is the repo with the error shown: https://github.com/rtablada/upcoming-games

It is a pretty simple workspace project with a brand new ember application

[2018-10-24 13:49] samselikoff commented on #61
Yikes! Thanks for reporting

[2018-10-24 13:50] samselikoff commented on #61
You might be able to get unstuck for now by commenting out [this line](https://github.com/embermap/ember-cli-tailwind/blob/master/blueprints/ember-cli-tailwind/files/__root__/tailwind/config/tailwind.js#L1) and [these lines](https://github.com/embermap/ember-cli-tailwind/blob/master/blueprints/ember-cli-tailwind/files/__root__/tailwind/config/tailwind.js#L125-L128) in your default generated `tailw

[2018-10-24 15:53] rtablada commented on #61
Will have to check this out. Looks like there are a few other addons that are impacted too :( so while there needs to be addon level fixes there may be a need for a helper function to find the `node_modules` directory since relative path is a common pattern in addons.

[2018-11-05 15:04] Windvis opened #63 ""Empty" styleguide page on ember 3.4"
Hey guys,

I just installed the addon in an Ember 3.4 project and I noticed the styleguide is not working as expected. It just [displays a blank page](https://user-images.githubusercontent.com/3533236/48005336-76e2bf80-e113-11e8-9b31-b5411e4ea3bd.png).

I debugged it a bit and it seems to be caused by the template only `etw/module-section` component. It doesn't use the `@` argument syntax to retri

[2018-11-05 15:06] samselikoff commented on #63
Thanks for reporting, going to be getting to our oss issues very soon :)

[2018-11-05 15:14] Windvis commented on #63
It's a quick fix, I can provide a PR. But any idea what changed in Ember?

[2018-11-05 16:09] Windvis commented on #63
It seems that I misunderstood the problem. I didn't know it was possible to create components without a js file, without them being a `template only component`.

[2018-11-06 15:46] #63 closed

[2018-11-26 20:38] ef4 opened #65 "Possible malicious dependency"
This package depends recursively on `event-stream`, which has malicious versions floating about. See:

https://github.com/dominictarr/event-stream/issues/116
https://github.com/indexzero/ps-tree/issues/33

[2018-11-27 20:09] jrowlingson opened #66 "Update tailwindcss to 0.7.x"
Related #38

[2018-11-28 11:47] Alonski commented on #28
Regarding this issue.
I am still not sure exactly what needs to be done to use `ember-cli-tailwind` in an addons dummy app.
What I ended up doing is creating this file:
`tests\dummy\app\tailwind\modules.css`
[code]

This seemed to do the trick, but I am not sure it is the best way to do this. Maybe there can be documentation on this?

[2018-12-19 23:14] sschun123 commented on #41
I am also in need of this

[2019-01-06 03:56] heycarsten opened #68 "Is it possible to use postcss-nested?"
Hi Sam 👋

I'm wondering if there's a way to configure [`postcss-nested`](https://github.com/postcss/postcss-nested) somehow? Basically I miss this feature from Sass the most and it would be nice if I could use it inside of the `tailwind` directory.

Thanks for all of your work on `ember-cli-tailwind` it has been a great experience using it to build my new personal site with Prember.

❤️

[2019-01-06 15:12] samselikoff commented on #68
Yw!

Could you give me an example/use case of how you'd use this in the `/tailwind` directory?

I think the best solution here might be to expose the `postcss` pipeline so users can add their own plugins.

[2019-01-06 15:50] samselikoff commented on #68
We do something very similar with our `{{ui-md}}` component, and we do exactly what you suggest. It looks like this:

https://gist.github.com/samselikoff/82bdb917b1ff281e85c4135f00aa5c4e

Downside is you don't get to use the cool `@apply` helper from Tailwind, but it's not bad at all.

[2019-01-06 15:53] heycarsten commented on #68
Ohhh I see you can just use `@extend`, d'oh! I'll just do it that way for now. Part of me still is kinda like why add another dep if PostCSS can do it, but it's all build-time stuff for me so it doesn't really matter 🤷‍♀️ Thanks, Sam!

[2019-01-06 16:00] samselikoff commented on #68
No prob, I'll leave this open as a feature request!

[2019-01-15 08:38] shuriu opened #69 "Usage with postcss autoprefixer?"
Hi @samselikoff 👋

I'm trying to use [autoprefixer](https://github.com/postcss/autoprefixer) in my app following the example from [ember-cli-postcss](https://github.com/jeffjewiss/ember-cli-postcss#example):

[code]

My simple use case is just to add the required prefixes for the `.appearance-none` class tailwind provides.

Unfortunately this results in a `Build Error (broccoli-persistent-filter:P

[2019-01-15 13:48] fpauser commented on #69
I also stumbled across this error - however, enabling compilation and adding at least 1 postcss plugin fixed it:

[code]

[2019-01-15 15:24] samselikoff commented on #69
Hey there Stefan 😄

I'd have to dig into the error to understand what's happening, nothing obvious stands out to me.

In the meantime, you can definitely try working with the advanced usage, and use that function to get your css file built and into your `treeForStyles`, at which point you may then be able to re-run that built css through PostCSS? I would have to dive in to know for sure but don't

[2019-01-27 18:03] jrock2004 opened #72 "New Ember Project Some Elements Broken"
I generated a new ember 3.7.1 project and in the `application.hbs` file, I just add a simple `<input type="text" placeholder="test">`. In my `app.scss` file, I just have `@import 'tailwind';`.

<img width="152" alt="image" src="https://user-images.githubusercontent.com/655716/51804860-a0ebdf80-2233-11e9-819c-99f38065589b.png">

Here are the only addition addons I have installed:

- ember-cli-sass

[2019-01-27 19:15] jrock2004 commented on #72
Well I did not realize that tailwind removes borders from inputs. Sorry

[2019-01-29 16:48] samselikoff commented on #65
I don't see the dependency anywhere, I looked at our [yarn.lock from last October](https://github.com/embermap/ember-cli-tailwind/blob/0eeda9f3adccc56cb93c7758f2dd0f1b755a172f/yarn.lock) and I also don't find it.

Could you help me understand how we depend on `event-stream`?

[2019-01-29 17:10] ef4 commented on #65
The original chain I observed was

ember-cli-tailwind -> tailwindcss -> nodemon -> pstree.remy -> ps-tree -> event-stream

You can reproduce using ember-animated's yarn.lock as of commit a315e4ed014d72a43df567bdbfac0cc8cd20dcbe

But it looks like since then, tailwindcss [decided to remove nodemon](https://github.com/tailwindcss/tailwindcss/pull/440) as their own fix for the vulnerability.

So this

[2019-01-29 17:16] samselikoff commented on #65
I see. (I was able to find a version of Ember CLI Tailwind's `yarn.lock` with `event-stream` in it going back much further.)

Any messaging I can or should do for these people?

[2019-01-29 17:18] ef4 commented on #65
Probably not, the original issue was already shouted pretty loudly and if people didn't hear that they probably won't hear you also shouting about it.

[2019-01-29 18:31] #65 closed

[2019-02-04 18:03] Alonski commented on #66
@samselikoff This can be closed

[2019-02-04 18:08] Alonski opened #73 "[Feature Request] Add support for easier installation of Tailwind plugins"
Tailwind plugins allows Tailwind to do so much more than it does out of the box.
For example in Tailwind 0.7 they added the ability to add custom variants via plugins:
https://github.com/tailwindcss/tailwindcss/pull/505#issuecomment-400408451

Would be great to have the ability to both create a plugin for personal use, using a blueprint such as `ember g tailwind-plugin` which would put the plugin

[2019-02-04 21:32] #66 closed

[2019-02-04 21:35] samselikoff commented on #73
`ember g tailwind-plugin` seems like a great move, we could even start the default blueprint out with a "dummy" one there, the same way we do for components.

The generator for `install new-plugin` I'm less sure on, I'd rather folks be able to follow the "plain js" way of doing it so there's less magic here. I think it shouldn't be difficult with the module wiring we have in place.

This feature i

[2019-02-21 11:02] championswimmer commented on #37
Still facing the issue. Any better solution than not minifying CSS ?

[2019-02-21 13:19] samselikoff commented on #37
I'd like to move away from Sass and @import and use PostCSS for all the Tailwind inclusion stuff. Would that fix this issue?

[2019-02-21 13:23] andrewfan commented on #69
@shuriu as a quick workaround you can use https://github.com/kimroen/ember-cli-autoprefixer or simply call https://github.com/sindresorhus/broccoli-autoprefixer yourself

[2019-02-22 19:08] gossi opened #95 "addon/utils/classes-for-module-style.js: No ESLint configuration found."
I've tried latest ember-cli + source addon (using ember-octane-addon-blueprint) and installed `ec-addon-docs`. When trying to serve it. I come across this error message:

[code]

I don't know if this really is related to `ember-cli-tailwind` - it just happens to be my last trace, so you might close it right away.

Here is my `package.json`:

[code]

[2019-03-03 11:38] gossi commented on #95
The conversation on discord that solved it:

<img width="742" alt="bildschirmfoto 2019-03-03 um 12 37 09" src="https://user-images.githubusercontent.com/283700/53694581-2de50400-3db1-11e9-9438-6d64b0533b08.png">

I can happily close this 😃

[2019-03-03 11:38] #95 closed

[2019-03-03 17:06] samselikoff commented on #95
Awesome!

Anything needed on our end?

[2019-03-03 17:16] gossi commented on #95
Nope. But in case people come here and run into the same problem, all they need to do is probably get rid of `ember-cli-eslint` dependency and they are good to go 😃

[2019-03-24 03:57] choclaudio opened #115 "ember-cli-tailwind should use the path to css defined by the host application"
ember-cli-tailwind looks for the app/styles/app.css entry point. Is it not possible to use whatever path configured by the host application?

If for example I override the default configuration in my ember-cli-build:
[code]
I would expect ember-cli-tailwind to respect my configuration when looking for the entry point.

[2019-03-24 16:44] samselikoff commented on #115
I didn't know about this config option! Yes this should work.

Is it just a bug in the blueprint (i.e. when you install e-c-tailwind, it tries to add `@import` to `app.css`)? Does it work if you add that line to your `application-name.css`?

[2019-03-24 18:27] choclaudio commented on #115
Hi @samselikoff! In reality I actually want to achieve something else. I want to change the input path of css. In this case I want the app.css to reside in the app root and not in styles/app.css.  I realize this now has turned into an ember-cli question.

But of course it would be good if ember-cli-tailwind respected whatever inputPath and outputPath configured into the application.

If ember-cli-

[2019-03-27 22:29] samselikoff commented on #115
Ah I see. Yes going outside of `treeForStyles` will require some custom Ember CLI work.

I don't think Ember CLI Tailwind needs an input path to your app's main css file... the default blueprint tries its best to add an `@import 'tailwind.css'` line to the right file, but if it's in a non-standard spot you should be able to just add that line yourself. (Ember CLI Tailwind puts your built `tailwind

[2019-03-28 16:53] choclaudio commented on #115
Yes, I guess most people will not mess with the defaults and so it is not worth checking this in a less hard-coded fashion. I will really enjoy when the new file layout comes.

Please feel free to close this.

[2019-03-30 17:09] #115 closed

[2019-05-13 20:30] raido opened #143 "Tailwind v1.0 is out"
Tailwind just recently hit v1.0 milestone. This addon should be updated to reflect that aswell.

[2019-05-13 21:08] samselikoff commented on #143
definitely 👍 I think it's going to involve a bit of re-working. Not sure we want to scaffold out the entire config folder structure anymore, since 1.0 is nudging folks to lean on the default config as much as possible.

[2019-05-21 20:42] barryofguilder commented on #143
So it seems that at a minimum, this addon would really only be responsible for generating the Tailwind styles and then watching the Tailwind config (if it exists in the project) for changes to recompile.

[2019-05-23 07:04] timiyay commented on #61
We're starting to adopt ember-cli-tailwind, and are also trying to adopt Yarn workspaces, and have this issue.

Has the understanding of it changed since Oct 2018? We'll be investigating it sometime soon, so it'd be handy to hear any additional thoughts on causes and possible solutions.

[2019-05-23 14:31] samselikoff commented on #61
Not exactly but we do want to move to using ember-cli-postcss in the future. But we'll make sure folks can upgrade.

I haven't used yarn workspaces so I don't know the details there

[2019-06-04 19:32] rwwagner90 commented on #143
@samselikoff did you decide on a path forward here? I am happy to help with things, if changes need to be made.

[2019-06-04 22:10] samselikoff commented on #143
Not completely but been chatting with Jason a bit about it. I think this Addon should basically bootstrap an ember cli postcss pipeline for the host app, possibly with purge. Or maybe if that’s simple enough we should write a post somewhere and deprecate this?

[2019-06-05 16:17] leils commented on #41
Also needed here

[2019-06-05 17:53] rwwagner90 commented on #143
@samselikoff I am not sure what would be best. I defer to your expertise 😃

[2019-06-05 18:14] nrcjbarry commented on #143
@rwwagner90 Chris Masters created this really awesome repo as a way to document how to use Tailwind 1.0 with Ember.js:

https://github.com/chrism/emberjs-tailwind-purgecss

[2019-06-05 18:15] barryofguilder commented on #143
@rwwagner90 Chris Masters wrote this awesome repo to show how to use Tailwind 1.0 with Ember.js:

https://github.com/chrism/emberjs-tailwind-purgecss

[2019-06-05 18:41] rwwagner90 commented on #143
@barryofguilder is there anything that approach does not do that ember-cli-tailwind does?  If not, do you think we should build all of this into ember-cli-tailwind or should we deprecate in favor of people following that guide? I personally like when addons handle all this for me, and it's just a simple install command, but some people dislike the magic approach.

[2019-06-05 18:44] barryofguilder commented on #143
@rwwagner90 I know that `ember-cli-tailwind` added a style guide, but I'm not sure if that was a widely used feature. I never used it because we had our own style guide we used.

I do think that it would be awesome if `ember-cli-tailwind` wired up the postcss config for you, but I'm not sure how it would work if the consuming app was already using postcss.

[2019-06-05 19:23] raido commented on #143
I like the style guide. It is true that if you work on your project everyday you simply remember the classes. But for new people on team etc. it can be helpful to get going.

[2019-06-05 20:38] CvX commented on #143
The style guide could be extracted to its own addon.

Though, imo that would be best handled by IDE extensions (like [vscode-tailwindcss](https://github.com/bradlc/vscode-tailwindcss), [vscode-tailwind-docs](https://github.com/austenc/vscode-tailwind-docs) or [autocomplete-tailwind](https://github.com/vinkla/autocomplete-tailwind)), i.e. they could generate the docs from the current app's config.

[2019-06-05 20:45] barryofguilder commented on #143
@CvX Oh, good catch! Yeah, when I implemented Tailwind 1.0 into my Ember app, I put it in `app/tailwind/config.js`, so it did get rebuilt on change.

[2019-06-06 08:55] chrism commented on #143
@Cvx @barryofguilder I've updated the guide now to include the config in the `app` directory — thanks for the feedback!

https://github.com/chrism/emberjs-tailwind-purgecss/commit/1a4c806b5bfe40db12e14d18e735bccdfa93811a

[2019-06-06 15:49] samselikoff commented on #41
Can you comment it out in `app/tailwind/modules.css`?

[2019-06-22 12:40] yratanov commented on #143
@chrism you guide works fine for a new project, but in my case it's an existing project and with ember-component-css, with `.scss` files, which has some issues with `postcss-sass`: https://github.com/jeffjewiss/ember-cli-postcss/issues/143...

In the same time `ember-cli-tailwind` works without any problems on my project...

So my vote is for supporting this addon and upgrading to tailwind v1.

[2019-07-03 16:17] stephencattaneo commented on #143
Whats up with ember-cli-tailwind?  Reading the above I get the sense that this addon is essentially dead.  The instructions in the README.md for https://github.com/chrism/emberjs-tailwind-purgecss seem fairly complete.

[2019-07-03 16:46] samselikoff commented on #143
It's not dead, but I think I need some guidance about the best way to proceed forward.

I think if I could snap my fingers, installing this addon would basically wire up the postcss pipeline a la Chris' example. But making that install idempotent involves a lot.

I do intend to address this, but it's lower priority than some other work I have right now.

[2019-07-03 16:56] stephencattaneo commented on #143
cool 😎 FWIW I think the styleguide is super helpful.

ember-cli-sass doesn't have an explicit package.json dependency on the `sass` module, but does check for the existence of `sass` when the user tries to build ember.  https://github.com/aexmachina/ember-cli-sass/blob/master/index.js#L39

Perhaps that would be a good way forward of not explicitly depending on tailwind.

[2019-07-03 17:04] samselikoff commented on #143
yah. I think it might be good to have it be a peerDependency.

The real big question is just how to bootstrap the postcss pipeline for folks while still exposing it. Maybe we can run a default one but if/when someone installs postcss themselves we just delegate to that.

[2019-07-30 13:39] samselikoff commented on #143
I think we should probably deprecate this addon. I can't really think of a great way to automatically wire up postcss + tailwind, without exposing the pieces to the user so they can add autoprefixer, purgecss, etc.

I think we should point folks to [@chrism's setup guide](https://github.com/chrism/emberjs-tailwind-purgecss), and generally I think folks should probably take the time to learn how th

[2019-07-30 13:41] barryofguilder commented on #143
I agree. It was really straight forward to pull Tailwind 1.0 into our Ember app following the Tailwind docs as well as going through a guide like @chrism's.

[2019-07-30 13:42] samselikoff commented on #143
@barryofguilder good to hear. Did you use ember-cli-postcss?

[2019-07-30 13:43] samselikoff commented on #143
I am sad that there won't be a one-line command that gets a new Ember app wired up with Tailwind, but honestly if I were doing a quick demo I'd probably just drop the CDN link into index.html.

[2019-07-30 13:45] barryofguilder commented on #143
@samselikoff I did. This is what our postcss config looks like:

[code]

**Note:** I'll be adding `purgecss` to this soon, just haven't got around to getting it on our list.

[2019-07-30 13:59] rwwagner90 commented on #143
What if this addon were turned into just blueprints to do this stuff for you directly in the app?

[2019-07-30 14:00] samselikoff commented on #143
@rwwagner90 more to maintain & fall behind, hard to make it idempotent, etc. Maybe just better as a script folks can copy?

I'm happy to look at / merge the blueprints solution if you or someone else wants to experiment with it!

[2019-08-15 18:50] jrock2004 opened #191 "No build target [Octane]"
Just generated a new Octane project and when I try to install tailwind-css I am getting errors. When I try to start server I get `WARNING: No build target was detected for ember-cli-tailwind. Tailwind is not being included in your project.`.

From install log

[code]

[2019-08-19 19:26] jrock2004 commented on #191
Just going to use other method of tailwind since other issue states you probably should

[2019-08-19 19:26] #191 closed

[2019-10-04 15:25] antonbavykin1991 opened #216 "cannot use Sass variables inside of Tailwind's config"
[code]

[code]

get error:
Sass Syntax Error (SassCompiler) in /var/folders/fn/_xqyrrmd59z731p6z5vld3_h0000gn/T/broccoli-37563qHE89kezt5cE/out-215-broccoli_merge_trees_full_application//app/styles/tailwind.css:869:21

Error: Sass variables aren't allowed in plain CSS.
    ╷
869 │   background-color: $brand;
    │                     ^^^^^^
    ╵

[2019-10-04 15:56] #216 closed

[2019-10-04 15:57] antonbavykin1991 commented on #216
the issue was in different versions of ember-cli-sass,  I installed "ember-cli-sass": "7.1.7", and not it's ok ;)

[2020-09-10 18:28] raido commented on #143
Closing this issue as Tailwind documentation has setup steps for Ember with postCSS outlined - https://tailwindcss.com/docs/installation#build-tool-examples

[2020-09-10 18:28] #143 closed

[2020-10-14 01:30] marcemira opened #310 "[Feature Request] Remove class prefix `etw-`"
Thanks for making this addon, it saves a lot of time on custom postcss + tailwind configs, but I'd really like to not have that `etw-` on every class. So,I've searched the code looking for the source of this `prefix` setting, I've also tried to change the `options.prefix` value on `config/tailwind.js` but it won't do anything. The motivation is so anyone can use the actual tailwind class names, an

[2021-03-24 03:39] novanda1 commented on #41
`corePlugins: {
     preflight: false,
 }`

[2021-08-14 11:58] raghav0622 commented on #41
Doesnt works, reset styles are still injected.

[2022-11-02 20:48] linearza commented on #37
Ran into this now as well., ie:
[code]

By process of elimination I tracked it down to this rule:

[code]

When I swap it around, it builds fine:

[code]

Worth nothing this isnt a problem during development, only when doing prod builds.
Also were not using ember-cli-tailwind but the following via postcss rather:
[code]

Dono if that helps, but there ya have it!

EDIT: Seems like the following als